---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Window from "../../components/Window.svelte";
import TableOfContents from "@components/TableOfContents.astro";
import Kudos from "@components/Kudos.astro";
import TableOfContentsObserver from "@components/TableOfContentsObserver.svelte";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
const { title, description, pubDate, image, alt } = post.data;
const splitTitle = post.data.title.split(":");
---

<Layout
	title={title}
	description={description}
	image={image}
	alt={alt}
	hideMenu={true}>
	<div class="layout__grid post">
		<div class="layout__cell post__toc">
			<Window
				title="Table of Contents"
				order={0}
				titleTag="h2"
				initiallyMinimized={true}
				style="--max-width: 25rem; --inline-start: 6rem; --block-start: 2rem;"
				client:load>
				<TableOfContents headings={headings} />
				<TableOfContentsObserver client:only="svelte" />
			</Window>
		</div>
		<div class="layout__cell post__content">
			<Window
				title="Post"
				order={1}
				titleTag="span"
				initiallyMaximized={true}
				flex
				client:load>
				<article class="rte container post__main">
					<h1 class="text--base post__title">
						{
							splitTitle.length > 1 ? (
								<>
									<span class="post__title-pretitle h3">{splitTitle[0]}:</span>
									<span class="post__title-main h1">{splitTitle[1]}</span>
								</>
							) : (
								<span class="post__title-main h1">{title}</span>
							)
						}
					</h1>
					<div class="post__meta">
						<time class="post__date">
							{
								new Intl.DateTimeFormat("en-GB", {
									dateStyle: "long",
								}).format(new Date(pubDate))
							}
						</time>
					</div>
					<Content />
					<div class="post__footer-kudos">
						<Kudos />
					</div>
				</article>
			</Window>
		</div>
	</div>
</Layout>

<style lang="scss">
	.post__content {
		min-width: 0;
	}

	.post__title {
		margin: 1rem 0 1rem;
		line-height: 1;
	}

	.post__meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-block-end: var(--border-thickness) dashed var(--color-text-accent);
		margin-block-end: var(--space-xs);
	}

	.post__meta :global(.tinylytics-kudos) {
		margin-block-start: 0;
	}

	.post__date {
		color: var(--color-text-heading);
		text-transform: uppercase;
	}

	.post__title:has(.post__title-pretitle) {
		margin: 0.75rem 0 1rem;
	}

	.post__title-main {
		display: block;
		filter: drop-shadow(0 -0.125rem 0 var(--color-accent-text-1))
			drop-shadow(0.125rem 0.125rem 0 var(--color-accent-text-2));
		background: linear-gradient(
			177deg,
			var(--color-text-heading) 50%,
			var(--color-text-subheading)
		);
		background-clip: text;
		color: transparent;
	}

	.post__footer-kudos {
		margin-block-start: var(--space-s);
	}

	:global(.rss-only) {
		display: none;
	}

	:global(.quiz-results) {
		--border-color: var(--color-card-border);
		margin-block: var(--space-xs);
		padding: calc(var(--border-thickness) * 2) var(--space-2xs);
		background-color: var(--color-card-bg);
		color: var(--color-card-text);
		@include pixel-borders();

		:global(h2) {
			color: currentColor;
			margin: 0;
			border: 0;
			text-transform: uppercase;
		}
	}

	.post__toc:not(:has(.window__wrapper--minimized)) {
		position: fixed;
		z-index: 250;
		pointer-events: none;
	}

	:global(.post__toc:not(:has(.window__wrapper--minimized)) .window__wrapper) {
		pointer-events: auto;
	}
	@media (min-width: 62em) and (min-height: 36em) and (orientation: landscape) {
		.post {
			grid-template-columns: 0 1fr;
			gap: var(--space-s);
		}

		.post__main {
			margin-block: 2.5rem;
		}
	}
</style>
